---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"><a name="{{ category_name | slugize }}">
    <h2 class="category-head">{{ category_name }}</h2>
    </a></div>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <a href="{{ site.baseurl }}{{ post.url }}"><h3>{{post.title}}</h3>
      {{ post.content | truncatewords: 60 | strip_html }}</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
