---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}">
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
        <a href="{{ site.baseurl }}{{ post.url }}">
        <h2 class="category-head">{{ category_name }}</h2>
        </div>
        <article class="archive-item">
            <h3>{{post.title}}</h3>
            {{ post.content | truncatewords: 60 | strip_html }}
        </article>
    </a>
    {% endfor %}
  </div>
{% endfor %}
</div>
