---
---
@import "{{ site.theme }}";
#header {
  display: none;
}
section {
  margin-top: 10px;
}
section #title {
  margin-bottom: 0px;
}
#pages ul {
    text-align: center;
}
#pages ul li {
    display: inline;
    &:not(:last-child):after {
        content: ' |';  
    }
}
article.archive-item a {
    color: inherit;
    padding: 2px;
    border: 1px inset none;
    border-radius: 2px;
}
article.archive-item a:hover {
    border-color: lightGray;
}
