---
---
@import "{{ site.theme }}";
#header {
  display: none;
}
section {
  margin-top: 10px;
}
section #title {
  margin-bottom: 0px;
}
#pages ul {
    text-align: center;
}
#pages ul li {
    display: inline;
    &:not(:last-child):after {
        content: ' |';  
    }
}
div.archive-group {
    padding: 6px;
    border: 1px inset transparent;
    border-radius: 2px;
}
div.archive-group:hover {
    border-color: lightGray;
}
article.archive-item a {
    color: inherit;
}
